// Your custom SCSS should be written here...
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


$font-stack: montserrat, sans-serif;
// This defines the color pallete used within the site...
$main:#2E49FF;
$secondary:#434B7F;
$third:#7A8BFF;
$fourth:#29337F;

/*---------------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,body,a {
	font-family: $font-stack;	
	color: #fff;
}

.centered {
	align:centered;
}

.onr {
	/*background-color: $main;*/
	height: 100%;
	color: #fff;
}

.on1 {
	background-color: $third;
	height: 100%;
}

.down {
	background: transparent url(img/down.png) center 9px no-repeat;
	background-size:  14px 14px !important;
	border: 3px solid #fff;
	border-radius: 30px;
	height:30px;
	width: 30px;
	position: absolute;
	bottom: 200px;
	z-index: 99;
	display: block;
	left: 0;
	margin: 0 auto;
	text-align: left !important;
	cursor: pointer;
	margin-left: 40rem;
}

.coffee {
	background: transparent url(img/coffee.png);
}

video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}
